.card__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    max-width: 300px;
    max-height: 450px;
    box-shadow: 3px 3px 6px 3px #000;
}

.card__description {
    color: transparent;
    position: relative;
    text-shadow: none;
    width: 100%;
    top: -150px;
    right: 0;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}

.description__title {
    font-size: 16px;
}

.card__arrow {
    color: #fff;
    width: 0;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
    position: relative;
    top: -5px; 
    right: -150px;
    rotate: -90deg;
    font-size: 20px;
    transition: all ease-in-out 0.3s;
}

.card__description:hover {
    background-color: rgba(0,0,0,0.7);
    .description__title, .description__text {
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }
    .card__arrow {
        color: transparent;
        text-shadow: none;
    }
}

