.card__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    max-width: 300px;
    max-height: 450px;
    box-shadow: 3px 3px 6px 3px #000;
}

.card__description {
    color: transparent;
    position: relative;
    text-shadow: none;
    width: 100%;
    top: -150px;
    right: 0;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}

.card__description:hover {
    color: inherit;
    background-color: rgba(0,0,0,0.7);
    text-shadow: inherit;
}

.description__title {
    font-size: 16px;
}