body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(98deg, rgba(2,0,36,1) 0%, rgba(121,24,9,1) 34%, rgba(2,0,36,1) 100%);
  color: #fff;
  text-shadow: 2px 2px 2px black;
}